<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233853758643-lbrajul968d46r06q16gfq02ss5732f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233853758643-lbrajul968d46r06q16gfq02ss5732f0</string>
	<key>API_KEY</key>
	<string>AIzaSyDfHRuxN5Wqrbiy9Uu0NUqvLYHREusDgZo</string>
	<key>GCM_SENDER_ID</key>
	<string>233853758643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wall</string>
	<key>PROJECT_ID</key>
	<string>socialwall-30594</string>
	<key>STORAGE_BUCKET</key>
	<string>socialwall-30594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233853758643:ios:e9c283001692c2d46bd4c6</string>
</dict>
</plist>